<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/testsql</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="domain.entity.JournalEntity" />
        <mapping class="domain.entity.TaskEntity" />
        <mapping class="domain.entity.UserEntity" />
    </session-factory>
</hibernate-configuration>