.add {
margin: 10px 0px;
}

body {
width: 400px;
 margin: auto;
}

h2{
 text-align: center;
 margin: 5px 0px;
}

table {
width: 400px;
margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
 td {
	border: 1px solid #dddddd;
	padding: 5px;
	 text-align: center;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.action:hover {
    background: #65994c; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }
